/* ---- form signin ---- */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.terms-privacy{
  font-size: 11px;
  padding-top:5px;
}

.divider-container{
  margin: -20px 0 20px 0;
  font-size: 18px;
  font-weight: 100;
  color: #707070;
  position: relative;
  width: 100%;
}

.signin-divider {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  top: 14px;
  position: absolute;
  left: 0;
}

.divider-container div {
  display: inline-block;
  text-align: center;
  color: #CD3F30;
}

.divider-text {
  position: inherit;
  z-index: 1;
  background: #FFFFFF;
  padding: 0 4px;
}

.google-button {
  text-align: center;
  color: #CD3F30;
  border-color: #CD3F30;
}

.google-button:hover {
 color: #fff;
 background-color: #CD3F30;
}

.social-button {
  font-weight: 400;
  position: relative;
  padding: 10px 0;
  width: 48%;
  display: inline-block;
  border: 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  cursor: pointer;
}